/* リセットcss */
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #FF9A4B;
  height: 50px;
  width: 100%;
}

.blog-box {
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: flex-start;
}

.blog{
  width: 300px;
}

.blog-content {
  padding: 10px;
  background-color: #eee;
}

.blog:nth-of-type(2){
  margin: 0 30px;
}

.blog-text{
  margin-top: 15px;
}

.blog-text p {
  margin-top: 5px;
}

.blog-img{
  height: 150px;
  background-size: cover;
  background-position: center;
}


.blog-img1{
  background-image: url(./img/flow01.png);
}

.blog-img2{
  background-image: url(./img/flow02.png);
}

.blog-img3{
  background-image: url(./img/flow03.png);
}

.label{
  background-color: #FF9A4B;
  color: #fff;
  position: relative;
  bottom: 10px;
  right: 10px;
}

footer {
  background-color: #AAA;
  height: 50px;
  width: 100%;
}

@media screen and (max-width:768px) {
  .blog-box{
    display: block;
    width: 100%;
  }

  .blog:nth-of-type(2){
    margin: 20px auto;
  }

  .blog{
    width: 90%;
    margin: 0 auto;
  }

}